@{
    ViewData["Title"] = "Drivers Page";
}


<div class="row">
    <br />
</div>
<div class="container">
    <div class="row spacer25">
        <div class="col-md-3">
            <a class="btn btn-primary" id="PostFormBtn">Show Post Form</a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-primary" id="PutFormBtn">Show Put Form</a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-primary" id="GetFormBtn">Show Get Form</a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-primary" id="DelFormBtn">Show Delete Form</a>
        </div>
    </div>
</div>

<div class="container spacer25">
    <form id="PostForm">
        <div class="row">
            <div class="col-md-4 align-right"> </div>
            <div class="col-md-4">
                <h1>Post Data To Api</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 align-right">Driver Name:</div>
            <div class="col-md-4">
                <input type="text" id="postdrivername" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 align-right">Vehicle Type:</div>
            <div class="col-md-4">
                <input type="text" id="posttype" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 align-right spacer10">Manufacture:</div>
            <div class="col-md-4 spacer10">
                <input type="text" id="postmanufacture" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 align-right spacer10">Model:</div>
            <div class="col-md-4 spacer10">
                <input type="text" id="postmodel" />
            </div>
        </div>
        <div class="row">
            <div id="PostMessage" class="col-md-4"> </div>
            <div class="col-md-4 align-right spacer25">
                <input class="btn btn-success" type="button" id="postsubmit" value="Post Data to Api" />
            </div>
        </div>
    </form>
</div>

<div class="container spacer" id="PutForm">
    <form id="PostForm">
        <div class="row">
            <div class="col-md-4 align-right"> </div>
            <div class="col-md-4">
                <h1>Put Data To Api</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 align-right">DriverId:</div>
            <div class="col-md-4">
                <input type="text" id="putdriverid" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 align-right">Driver Name:</div>
            <div class="col-md-4">
                <input type="text" id="putdrivername" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 align-right">Vehicle Type:</div>
            <div class="col-md-4">
                <input type="text" id="puttype" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 align-right spacer10">Manufacture:</div>
            <div class="col-md-4 spacer10">
                <input type="text" id="putmanufacture" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 align-right spacer10">Model:</div>
            <div class="col-md-4 spacer10">
                <input type="text" id="putmodel" />
            </div>
        </div>
        <div class="row">
            <div id="PutMessage" class="col-md-4"> </div>
            <div class="col-md-4 align-right spacer25">
                <input class="btn btn-success" type="button" id="putsubmit" value="Put Data to Api" />
            </div>
        </div>
    </form>
</div>


<div class="container spacer" id="GetForm">
    <div class="row">
        <div class="col-md-4 align-right"> </div>
        <div class="col-md-4">
            <h1>Get Data From Api</h1>
        </div>
    </div>
    <div id="getresult"></div>
</div>

<div class="container spacer" id="DelForm">
    <form id="DeleteForm">
        <div class="row">
            <div class="col-md-4 align-right"> </div>
            <div class="col-md-4">
                <h1>Delete Data From Api</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 align-right">DriverId:</div>
            <div class="col-md-4">
                <input type="text" id="deletedriverid" />
            </div>
        </div>
        <div class="row">
            <div id="deleteMessage" class="col-md-4"> </div>
            <div class="col-md-4 align-right spacer25">
                <input class="btn btn-success" type="button" id="deletesubmit" value="Delete Data from Api" />
            </div>
        </div>
    </form>
</div>


@section scripts
{
    <script>

        $(document).ready(function() {

            hideall();

            $("#PostFormBtn").click(function() {
                hideall();
                $("#postdrivername").val('');
                $('#posttype').val('');
                $('#postmanufacture').val('');
                $('#postmodel').val('');
                $("#PostForm").show(600);
            });

            $("#PutFormBtn").click(function() {
                hideall();
                $("#putdriverid").val('');
                $("#putdrivername").val('');
                $('#puttype').val('');
                $('#putmanufacture').val('');
                $('#putmodel').val('');
                $("#PutForm").show(600);
            });

            $("#GetFormBtn").click(function() {
                hideall();
                $("#getresult").html('');
                $("#GetForm").show(600);

                $.get("/api/drivers", function (data) {
                    $.each(data, function() {
                        $("#getresult").append("<br/> (" + this.DriverId + ") " + this.DriverName + " drives a " +
                            this.Manufacture + ", " + this.Model + " which is a " +
                            this.VehicleType + "<hr/>");
                    });
                });
            });

            $("#DelFormBtn").click(function() {
                hideall();
                $("#DelForm").show(600);
            });

            $('#postsubmit').click(function() {

                var driverInfo =
                {
                    DriverName : $('#postdrivername').val(),
                    VehicleType: $('#posttype').val(),
                    Manufacture: $('#postmanufacture').val(),
                    Model: $('#postmodel').val()
                }

                 $.ajax({
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    url: '/api/drivers',
                    type: 'Post',
                    data: JSON.stringify(driverInfo),
                    success: function (data) {
                        $('#PostMessage').append("<h3>Driver Saved</h3>");
                    },
                    error: function (request, status, error) {
                        $('#PostMessage').append("<h3>Failed to save data</h3>");
                    }
                });
            });

            $('#putsubmit').click(function () {

                var driverInfo =
                {
                    DriverId: $('#putdriverid').val(),
                    DriverName: $('#putdrivername').val(),
                    VehicleType: $('#puttype').val(),
                    Manufacture: $('#putmanufacture').val(),
                    Model: $('#putmodel').val()
                }

                $.ajax({
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    url: '/api/drivers/' + $('#putdriverid').val(),
                    type: 'Put',
                    data: JSON.stringify(driverInfo),
                    success: function (data) {
                        $('#PutMessage').append("<h3>Driver updated</h3>");
                    },
                    error: function (request, status, error) {
                        $('#PutMessage').append("<h3>Failed to update data</h3>");
                    }
                });
            });

            $('#deletesubmit').click(function () {

                $.ajax({
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    url: '/api/drivers/' + $('#deletedriverid').val(),
                    type: 'Delete',
                    success: function (data) {
                        $('#deleteMessage').append("<h3>Driver deleted</h3>");
                    },
                    error: function (request, status, error) {
                        $('#deleteMessage').append("<h3>Failed to delete data</h3>");
                    }
                });
            });
        });

        function hideall() {
            $('#PostForm').hide(600);
            $('#PutForm').hide(600);
            $('#GetForm').hide(600);
            $('#DelForm').hide(600);
        }


    </script>
}
