@using System.Globalization
@using System.Threading.Tasks


@{
    Layout = "/Views/Shared/_LocalizationLayout.cshtml";
    var date = DateTime.Today;
    var culture = System.Globalization.CultureInfo.CurrentUICulture;
}


<h1>Example using IViewLocalizer</h1>

<h2>@ViewBag.Message</h2>

<h3>Culture is @culture</h3>

<h4>@date</h4>


